body{
	background-color:RGB(0,100,145);
}
h1{
	color:white;
	text-align:center;
}
form{
	margin: 295px;
    margin-top: 15px;
	margin-bottom:15px;
	background-color:RGB(227,24,55);
	
}
td,th{
	text-align:left;
	color:white;
}